.button {
    padding: 10px 20px; /* Adjust padding as needed to fit the text */
    border: none;
    border-radius: 4px;
    background-color: #3498db; /* Choose your color */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif; /* Set the font-family to Times New Roman */
    font-size: 16px; /* Start with 16px, adjust as needed to fit the text */
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    /* Add these for text overflow management */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    /* Additional hover effect */
    &:hover {
      background-color: #2874a6; /* Darker shade for hover state */
    }
  }
  